In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
dataset=pd.read_csv(r'C:\Users\Neha reddy\Pictures\Screenshots\EmployeeAttrition.csv')

In [5]:
dataset=pd.read_csv(r'C:\Users\Neha reddy\Pictures\Screenshots\EmployeeAttrition.csv')

In [6]:
numeric_data = dataset.select_dtypes(include=[np.number])
categorical_data = dataset.select_dtypes(exclude=[np.number])

numeric_data.shape
categorical_data.shape

(1470, 4)

In [12]:
dataset.isnull().any

<bound method DataFrame.any of       Education  JobInvolvement  JobLevel  DailyRate(USD)  MonthlyIncome(USD)  \
0         False           False     False           False               False
1         False           False     False           False               False
2         False           False     False           False               False
3         False           False     False           False               False
4         False           False     False           False               False
5         False           False     False           False               False
6         False           False     False           False               False
7         False           False     False           False                True
8         False            True     False           False               False
9         False           False     False           False               False
10        False           False     False           False               False
11        False           False     False           False               False
12        False           False     False           False               False
13        False           False     False           False               False
14        False           False     False           False               False
15        False           False     False           False               False
16        False           False     False           False                True
17        False           False     False           False               False
18        False           False     False           False               False
19        False           False     False           False               False
20        False           False     False           False               False
21        False           False     False           False               False
22        False            True     False           False                True
23        False           False     False           False               False
24        False           False     False           False               False
25        False           False     False           False               False
26        False            True     False           False               False
27        False           False     False           False                True
28        False            True     False           False               False
29        False           False     False           False               False
...         ...             ...       ...             ...                 ...
1440      False           False     False           False               False
1441      False           False     False           False               False
1442      False           False     False           False               False
1443      False           False     False           False               False
1444      False           False     False           False               False
1445      False           False     False           False               False
1446      False           False     False           False               False
1447      False           False     False           False               False
1448      False           False     False           False               False
1449      False           False     False           False               False
1450      False           False     False           False               False
1451      False           False     False           False               False
1452      False           False     False           False               False
1453      False           False     False           False               False
1454      False           False     False           False               False
1455      False           False     False           False               False
1456      False           False     False           False               False
1457      False           False     False           False               False
1458      False           False     False           False               False
1459      False           False     False           False               False
1460      False           False     False           False               False
1461      False           False     False           False               False
1462      False           False     False           False               False
1463      False           False     False           False               False
1464      False           False     False           False               False
1465      False           False     False           False               False
1466      False           False     False           False               False
1467      False           False     False           False               False
1468      False           False     False           False               False
1469      False           False     False           False               False

      NoofCompaniesWorked  TotalWorkingYears  YearsAtCompany  \
0                   False              False           False
1                   False              False           False
2                   False              False           False
3                   False              False           False
4                   False              False           False
5                   False              False           False
6                   False              False           False
7                   False              False           False
8                   False              False           False
9                   False              False           False
10                  False              False           False
11                  False              False           False
12                  False              False           False
13                  False              False           False
14                  False              False           False
15                  False              False           False
16                  False              False           False
17                  False              False           False
18                  False              False           False
19                  False              False           False
20                  False              False           False
21                  False              False           False
22                  False              False           False
23                  False              False           False
24                  False              False           False
25                  False              False           False
26                  False              False           False
27                  False              False           False
28                  False              False           False
29                  False              False           False
...                   ...                ...             ...
1440                False              False           False
1441                False              False           False
1442                False              False           False
1443                False              False           False
1444                False              False           False
1445                False              False           False
1446                False              False           False
1447                False              False           False
1448                False              False           False
1449                False              False           False
1450                False              False           False
1451                False              False           False
1452                False              False           False
1453                False              False           False
1454                False              False           False
1455                False              False           False
1456                False              False           False
1457                False              False           False
1458                False              False           False
1459                False              False           False
1460                False              False           False
1461                False              False           False
1462                False              False           False
1463                False              False           False
1464                False              False           False
1465                False              False           False
1466                False              False           False
1467                False              False           False
1468                False              False           False
1469                False              False           False

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrentManager  \
0                  False                    False                    False
1                  False                    False                    False
2                  False                    False                    False
3                  False                    False                    False
4                  False                    False                    False
5                  False                    False                    False
6                  False                    False                    False
7                  False                    False                    False
8                  False                    False                    False
9                  False                    False                    False
10                 False                    False                    False
11                 False                    False                    False
12                 False                    False                    False
13                 False                    False                    False
14                 False                    False                    False
15                 False                    False                    False
16                 False                    False                    False
17                 False                    False                    False
18                 False                    False                    False
19                 False                    False                    False
20                 False                    False                    False
21                 False                    False                    False
22                 False                    False                    False
23                 False                    False                    False
24                 False                    False                    False
25                 False                    False                    False
26                 False                    False                    False
27                 False                    False                    False
28                 False                    False                    False
29                 False                    False                    False
...                  ...                      ...                      ...
1440               False                    False                    False
1441               False                    False                    False
1442               False                    False                    False
1443               False                    False                    False
1444               False                    False                    False
1445               False                    False                    False
1446               False                    False                    False
1447               False                    False                    False
1448               False                    False                    False
1449               False                    False                    False
1450               False                    False                    False
1451               False                    False                    False
1452               False                    False                    False
1453               False                    False                    False
1454               False                    False                    False
1455               False                    False                    False
1456               False                    False                    False
1457               False                    False                    False
1458               False                    False                    False
1459               False                    False                    False
1460               False                    False                    False
1461               False                    False                    False
1462               False                    False                    False
1463               False                    False                    False
1464               False                    False                    False
1465               False                    False                    False
1466               False                    False                    False
1467               False                    False                    False
1468               False                    False                    False
1469               False                    False                    False

      TrainingTimesLastYear  PerformanceRating  Attrition
0                     False              False      False
1                     False              False      False
2                     False              False      False
3                     False              False      False
4                     False              False      False
5                     False              False      False
6                     False              False      False
7                     False              False      False
8                     False              False      False
9                     False              False      False
10                    False              False      False
11                    False              False      False
12                    False              False      False
13                    False              False      False
14                    False              False      False
15                    False              False      False
16                    False              False      False
17                    False              False      False
18                    False              False      False
19                    False              False      False
20                    False              False      False
21                    False              False      False
22                    False              False      False
23                    False              False      False
24                    False              False      False
25                    False              False      False
26                    False              False      False
27                    False              False      False
28                    False              False      False
29                    False              False      False
...                     ...                ...        ...
1440                  False              False      False
1441                  False              False      False
1442                  False              False      False
1443                  False              False      False
1444                  False              False      False
1445                  False              False      False
1446                  False              False      False
1447                  False              False      False
1448                  False              False      False
1449                  False              False      False
1450                  False              False      False
1451                  False              False      False
1452                  False              False      False
1453                  False              False      False
1454                  False              False      False
1455                  False              False      False
1456                  False              False      False
1457                  False              False      False
1458                  False              False      False
1459                  False              False      False
1460                  False              False      False
1461                  False              False      False
1462                  False              False      False
1463                  False              False      False
1464                  False              False      False
1465                  False              False      False
1466                  False              False      False
1467                  False              False      False
1468                  False              False      False
1469                  False              False      False

[1470 rows x 14 columns]>

In [13]:
dataset.fillna(0)

,Education,JobInvolvement,JobLevel,DailyRate(USD),MonthlyIncome(USD),NoofCompaniesWorked,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,TrainingTimesLastYear,PerformanceRating,Attrition
0,College,High,2,1102,5993.0,8,8,6,4,0,5,0,Excellent,Yes
1,Below College,Medium,2,279,5130.0,1,10,10,7,1,7,3,Outstanding,No
2,College,Medium,1,1373,2090.0,6,7,0,0,0,0,3,Excellent,Yes
3,Master,High,1,1392,2909.0,1,8,8,7,3,0,3,Excellent,No
4,Below College,High,1,591,3468.0,9,6,2,2,2,2,3,Excellent,No
5,College,High,1,1005,3068.0,0,8,7,7,3,6,2,Excellent,No
6,Bachelor,Very High,1,1324,2670.0,4,12,1,0,0,0,3,Outstanding,No
7,Below College,High,1,1358,0.0,1,1,1,0,0,0,2,Outstanding,No
8,Bachelor,0,3,216,9526.0,0,10,9,7,1,8,2,Outstanding,No
9,Bachelor,High,2,1299,5237.0,6,17,7,7,7,7,3,Excellent,No
10,Bachelor,Very High,1,809,2426.0,0,6,5,4,0,3,5,Excellent,No
11,College,Medium,2,153,4193.0,0,10,9,5,0,8,3,Excellent,No
12,Below College,High,1,670,2911.0,1,5,5,2,4,3,1,Excellent,No
13,College,High,1,1346,2661.0,0,3,2,2,1,2,2,Excellent,No
14,Bachelor,Medium,1,103,2028.0,5,6,4,2,0,3,4,Excellent,Yes
15,Master,Very High,3,1389,9980.0,1,10,10,9,8,8,1,Excellent,No
16,College,Very High,1,334,0.0,0,7,6,2,0,5,5,Excellent,No
17,College,Very High,1,1123,2935.0,1,1,1,0,0,0,2,Excellent,No
18,Master,Medium,4,1219,15427.0,2,31,25,8,3,7,3,Excellent,No
19,Bachelor,High,1,371,3944.0,5,6,3,2,1,2,3,Excellent,No
20,College,Very High,2,673,4011.0,0,5,4,2,1,3,5,Excellent,No
21,Master,Medium,1,1218,3407.0,7,10,5,3,0,3,4,Outstanding,Yes
22,Master,0,3,419,0.0,0,13,12,6,2,11,4,Excellent,No
23,College,High,1,391,1232.0,1,0,0,0,0,0,6,Excellent,No
24,Below College,High,1,699,2960.0,2,8,4,2,1,3,2,Excellent,Yes
25,Bachelor,High,5,1282,19094.0,4,26,14,13,4,8,3,Excellent,No
26,Below College,0,1,1125,3919.0,1,10,10,2,6,7,5,Outstanding,Yes
27,Master,High,2,691,0.0,0,10,9,7,4,2,2,Excellent,No
28,Master,0,3,477,10248.0,3,24,22,6,5,17,4,Excellent,No
29,Master,High,5,705,18947.0,3,22,2,2,2,1,2,Excellent,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,College,High,2,688,5131.0,7,18,4,2,0,2,3,Excellent,No
1441,Master,High,2,667,6306.0,1,13,13,12,1,9,2,Outstanding,No
1442,Master,High,1,1092,4787.0,9,4,2,2,2,2,3,Excellent,Yes
1443,Bachelor,High,5,300,18880.0,5,24,22,6,4,14,2,Excellent,No
1444,College,High,1,310,2339.0,8,14,10,9,9,8,4,Excellent,Yes
1445,Master,Medium,4,582,13570.0,0,21,20,7,0,10,3,Outstanding,No
1446,Bachelor,Medium,2,704,6712.0,1,8,8,7,1,7,2,Outstanding,No
1447,Master,Low,2,301,5406.0,1,15,15,12,11,11,4,Outstanding,No
1448,Bachelor,Medium,2,930,8938.0,2,14,5,4,0,4,5,Excellent,No
1449,Bachelor,High,1,529,2439.0,1,4,4,2,1,2,4,Excellent,No
1450,Master,High,3,1146,8837.0,1,9,9,0,1,7,2,Excellent,No
1451,College,High,2,345,5343.0,1,10,10,7,1,9,1,Excellent,No
1452,Master,High,2,878,6728.0,7,12,6,3,0,1,3,Excellent,Yes
1453,Master,Medium,2,1120,6652.0,4,8,6,3,0,0,2,Excellent,No
1454,Bachelor,High,2,374,4850.0,8,8,5,3,0,1,3,Excellent,No
1455,Master,Medium,1,1322,2809.0,2,8,2,2,2,2,2,Excellent,No
1456,Master,High,2,1199,5689.0,1,10,10,2,0,2,2,Excellent,No
1457,Master,High,1,1194,2001.0,2,20,5,3,0,2,2,Excellent,No
1458,Master,Low,1,287,2977.0,1,4,4,3,1,1,5,Excellent,No
1459,College,Medium,2,1378,4025.0,4,10,4,3,0,3,2,Excellent,No
1460,Master,Medium,1,468,3785.0,1,5,5,4,0,4,3,Excellent,No
1461,Bachelor,Medium,3,410,10854.0,4,20,3,2,2,0,3,Excellent,Yes
1462,Below College,Medium,4,722,12031.0,0,21,20,9,9,6,2,Excellent,No
1463,Bachelor,High,2,325,9936.0,0,10,9,4,1,7,2,Excellent,No
1464,Bachelor,Medium,1,1167,2966.0,0,5,4,2,0,0,2,Excellent,No
1465,College,Very High,2,884,2571.0,4,17,5,2,0,3,3,Excellent,No
1466,Below College,Medium,3,613,9991.0,4,9,7,7,1,7,5,Excellent,No
1467,Bachelor,Very High,2,155,6142.0,1,6,6,2,0,3,0,Outstanding,No
1468,Bachelor,Medium,2,1023,5390.0,2,17,9,6,0,8,3,Excellent,No
1469,Bachelor,Very High,2,628,4404.0,2,6,4,3,1,2,3,Excellent,No

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 14 columns):
Education                  1470 non-null object
JobInvolvement             1466 non-null object
JobLevel                   1470 non-null int64
DailyRate(USD)             1470 non-null int64
MonthlyIncome(USD)         1466 non-null float64
NoofCompaniesWorked        1470 non-null int64
TotalWorkingYears          1470 non-null int64
YearsAtCompany             1470 non-null int64
YearsInCurrentRole         1470 non-null int64
YearsSinceLastPromotion    1470 non-null int64
YearsWithCurrentManager    1470 non-null int64
TrainingTimesLastYear      1470 non-null int64
PerformanceRating          1470 non-null object
Attrition                  1470 non-null object
dtypes: float64(1), int64(9), object(4)
memory usage: 160.9+ KB

In [9]:
dataset["Education"]=dataset['Education'].astype('category')
dataset.dtypes
dataset["JobInvolvement"]=dataset['JobInvolvement'].astype('category')
dataset.dtypes
dataset["PerformanceRating"]=dataset['PerformanceRating'].astype('category')
dataset.dtypes
dataset["Attrition"]=dataset['Attrition'].astype('category')
dataset.dtypes

Education                  category
JobInvolvement             category
JobLevel                      int64
DailyRate(USD)                int64
MonthlyIncome(USD)          float64
NoofCompaniesWorked           int64
TotalWorkingYears             int64
YearsAtCompany                int64
YearsInCurrentRole            int64
YearsSinceLastPromotion       int64
YearsWithCurrentManager       int64
TrainingTimesLastYear         int64
PerformanceRating          category
Attrition                  category
dtype: object

In [10]:
dataset["Education"]=dataset["Education"].cat.codes
dataset
dataset["JobInvolvement"]=dataset["JobInvolvement"].cat.codes
dataset
dataset["PerformanceRating"]=dataset["PerformanceRating"].cat.codes
dataset
dataset["Attrition"]=dataset["Attrition"].cat.codes
dataset

,Education,JobInvolvement,JobLevel,DailyRate(USD),MonthlyIncome(USD),NoofCompaniesWorked,TotalWorkingYears,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrentManager,TrainingTimesLastYear,PerformanceRating,Attrition
0,2,1,2,1102,5993.0,8,8,6,4,0,5,0,0,1
1,1,3,2,279,5130.0,1,10,10,7,1,7,3,1,0
2,2,3,1,1373,2090.0,6,7,0,0,0,0,3,0,1
3,4,1,1,1392,2909.0,1,8,8,7,3,0,3,0,0
4,1,1,1,591,3468.0,9,6,2,2,2,2,3,0,0
5,2,1,1,1005,3068.0,0,8,7,7,3,6,2,0,0
6,0,4,1,1324,2670.0,4,12,1,0,0,0,3,1,0
7,1,1,1,1358,NaN,1,1,1,0,0,0,2,1,0
8,0,0,3,216,9526.0,0,10,9,7,1,8,2,1,0
9,0,1,2,1299,5237.0,6,17,7,7,7,7,3,0,0
10,0,4,1,809,2426.0,0,6,5,4,0,3,5,0,0
11,2,3,2,153,4193.0,0,10,9,5,0,8,3,0,0
12,1,1,1,670,2911.0,1,5,5,2,4,3,1,0,0
13,2,1,1,1346,2661.0,0,3,2,2,1,2,2,0,0
14,0,3,1,103,2028.0,5,6,4,2,0,3,4,0,1
15,4,4,3,1389,9980.0,1,10,10,9,8,8,1,0,0
16,2,4,1,334,NaN,0,7,6,2,0,5,5,0,0
17,2,4,1,1123,2935.0,1,1,1,0,0,0,2,0,0
18,4,3,4,1219,15427.0,2,31,25,8,3,7,3,0,0
19,0,1,1,371,3944.0,5,6,3,2,1,2,3,0,0
20,2,4,2,673,4011.0,0,5,4,2,1,3,5,0,0
21,4,3,1,1218,3407.0,7,10,5,3,0,3,4,1,1
22,4,0,3,419,NaN,0,13,12,6,2,11,4,0,0
23,2,1,1,391,1232.0,1,0,0,0,0,0,6,0,0
24,1,1,1,699,2960.0,2,8,4,2,1,3,2,0,1
25,0,1,5,1282,19094.0,4,26,14,13,4,8,3,0,0
26,1,0,1,1125,3919.0,1,10,10,2,6,7,5,1,1
27,4,1,2,691,NaN,0,10,9,7,4,2,2,0,0
28,4,0,3,477,10248.0,3,24,22,6,5,17,4,0,0
29,4,1,5,705,18947.0,3,22,2,2,2,1,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,2,1,2,688,5131.0,7,18,4,2,0,2,3,0,0
1441,4,1,2,667,6306.0,1,13,13,12,1,9,2,1,0
1442,4,1,1,1092,4787.0,9,4,2,2,2,2,3,0,1
1443,0,1,5,300,18880.0,5,24,22,6,4,14,2,0,0
1444,2,1,1,310,2339.0,8,14,10,9,9,8,4,0,1
1445,4,3,4,582,13570.0,0,21,20,7,0,10,3,1,0
1446,0,3,2,704,6712.0,1,8,8,7,1,7,2,1,0
1447,4,2,2,301,5406.0,1,15,15,12,11,11,4,1,0
1448,0,3,2,930,8938.0,2,14,5,4,0,4,5,0,0
1449,0,1,1,529,2439.0,1,4,4,2,1,2,4,0,0
1450,4,1,3,1146,8837.0,1,9,9,0,1,7,2,0,0
1451,2,1,2,345,5343.0,1,10,10,7,1,9,1,0,0
1452,4,1,2,878,6728.0,7,12,6,3,0,1,3,0,1
1453,4,3,2,1120,6652.0,4,8,6,3,0,0,2,0,0
1454,0,1,2,374,4850.0,8,8,5,3,0,1,3,0,0
1455,4,3,1,1322,2809.0,2,8,2,2,2,2,2,0,0
1456,4,1,2,1199,5689.0,1,10,10,2,0,2,2,0,0
1457,4,1,1,1194,2001.0,2,20,5,3,0,2,2,0,0
1458,4,2,1,287,2977.0,1,4,4,3,1,1,5,0,0
1459,2,3,2,1378,4025.0,4,10,4,3,0,3,2,0,0
1460,4,3,1,468,3785.0,1,5,5,4,0,4,3,0,0
1461,0,3,3,410,10854.0,4,20,3,2,2,0,3,0,1
1462,1,3,4,722,12031.0,0,21,20,9,9,6,2,0,0
1463,0,1,2,325,9936.0,0,10,9,4,1,7,2,0,0
1464,0,3,1,1167,2966.0,0,5,4,2,0,0,2,0,0
1465,2,4,2,884,2571.0,4,17,5,2,0,3,3,0,0
1466,1,3,3,613,9991.0,4,9,7,7,1,7,5,0,0
1467,0,4,2,155,6142.0,1,6,6,2,0,3,0,1,0
1468,0,3,2,1023,5390.0,2,17,9,6,0,8,3,0,0
1469,0,4,2,628,4404.0,2,6,4,3,1,2,3,0,0

In [ ]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features = [0, max(1470)])
dataset = onehotencoder.fit_transform(dataset).toarray()

In [13]:
print(dataset)

      Education  JobInvolvement  JobLevel  DailyRate(USD)  MonthlyIncome(USD)  \
0             2               1         2            1102              5993.0
1             1               3         2             279              5130.0
2             2               3         1            1373              2090.0
3             4               1         1            1392              2909.0
4             1               1         1             591              3468.0
5             2               1         1            1005              3068.0
6             0               4         1            1324              2670.0
7             1               1         1            1358                 NaN
8             0               0         3             216              9526.0
9             0               1         2            1299              5237.0
10            0               4         1             809              2426.0
11            2               3         2             153              4193.0
12            1               1         1             670              2911.0
13            2               1         1            1346              2661.0
14            0               3         1             103              2028.0
15            4               4         3            1389              9980.0
16            2               4         1             334                 NaN
17            2               4         1            1123              2935.0
18            4               3         4            1219             15427.0
19            0               1         1             371              3944.0
20            2               4         2             673              4011.0
21            4               3         1            1218              3407.0
22            4               0         3             419                 NaN
23            2               1         1             391              1232.0
24            1               1         1             699              2960.0
25            0               1         5            1282             19094.0
26            1               0         1            1125              3919.0
27            4               1         2             691                 NaN
28            4               0         3             477             10248.0
29            4               1         5             705             18947.0
...         ...             ...       ...             ...                 ...
1440          2               1         2             688              5131.0
1441          4               1         2             667              6306.0
1442          4               1         1            1092              4787.0
1443          0               1         5             300             18880.0
1444          2               1         1             310              2339.0
1445          4               3         4             582             13570.0
1446          0               3         2             704              6712.0
1447          4               2         2             301              5406.0
1448          0               3         2             930              8938.0
1449          0               1         1             529              2439.0
1450          4               1         3            1146              8837.0
1451          2               1         2             345              5343.0
1452          4               1         2             878              6728.0
1453          4               3         2            1120              6652.0
1454          0               1         2             374              4850.0
1455          4               3         1            1322              2809.0
1456          4               1         2            1199              5689.0
1457          4               1         1            1194              2001.0
1458          4               2         1             287              2977.0
1459          2               3         2            1378              4025.0
1460          4               3         1             468              3785.0
1461          0               3         3             410             10854.0
1462          1               3         4             722             12031.0
1463          0               1         2             325              9936.0
1464          0               3         1            1167              2966.0
1465          2               4         2             884              2571.0
1466          1               3         3             613              9991.0
1467          0               4         2             155              6142.0
1468          0               3         2            1023              5390.0
1469          0               4         2             628              4404.0

      NoofCompaniesWorked  TotalWorkingYears  YearsAtCompany  \
0                       8                  8               6
1                       1                 10              10
2                       6                  7               0
3                       1                  8               8
4                       9                  6               2
5                       0                  8               7
6                       4                 12               1
7                       1                  1               1
8                       0                 10               9
9                       6                 17               7
10                      0                  6               5
11                      0                 10               9
12                      1                  5               5
13                      0                  3               2
14                      5                  6               4
15                      1                 10              10
16                      0                  7               6
17                      1                  1               1
18                      2                 31              25
19                      5                  6               3
20                      0                  5               4
21                      7                 10               5
22                      0                 13              12
23                      1                  0               0
24                      2                  8               4
25                      4                 26              14
26                      1                 10              10
27                      0                 10               9
28                      3                 24              22
29                      3                 22               2
...                   ...                ...             ...
1440                    7                 18               4
1441                    1                 13              13
1442                    9                  4               2
1443                    5                 24              22
1444                    8                 14              10
1445                    0                 21              20
1446                    1                  8               8
1447                    1                 15              15
1448                    2                 14               5
1449                    1                  4               4
1450                    1                  9               9
1451                    1                 10              10
1452                    7                 12               6
1453                    4                  8               6
1454                    8                  8               5
1455                    2                  8               2
1456                    1                 10              10
1457                    2                 20               5
1458                    1                  4               4
1459                    4                 10               4
1460                    1                  5               5
1461                    4                 20               3
1462                    0                 21              20
1463                    0                 10               9
1464                    0                  5               4
1465                    4                 17               5
1466                    4                  9               7
1467                    1                  6               6
1468                    2                 17               9
1469                    2                  6               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrentManager  \
0                      4                        0                        5
1                      7                        1                        7
2                      0                        0                        0
3                      7                        3                        0
4                      2                        2                        2
5                      7                        3                        6
6                      0                        0                        0
7                      0                        0                        0
8                      7                        1                        8
9                      7                        7                        7
10                     4                        0                        3
11                     5                        0                        8
12                     2                        4                        3
13                     2                        1                        2
14                     2                        0                        3
15                     9                        8                        8
16                     2                        0                        5
17                     0                        0                        0
18                     8                        3                        7
19                     2                        1                        2
20                     2                        1                        3
21                     3                        0                        3
22                     6                        2                       11
23                     0                        0                        0
24                     2                        1                        3
25                    13                        4                        8
26                     2                        6                        7
27                     7                        4                        2
28                     6                        5                       17
29                     2                        2                        1
...                  ...                      ...                      ...
1440                   2                        0                        2
1441                  12                        1                        9
1442                   2                        2                        2
1443                   6                        4                       14
1444                   9                        9                        8
1445                   7                        0                       10
1446                   7                        1                        7
1447                  12                       11                       11
1448                   4                        0                        4
1449                   2                        1                        2
1450                   0                        1                        7
1451                   7                        1                        9
1452                   3                        0                        1
1453                   3                        0                        0
1454                   3                        0                        1
1455                   2                        2                        2
1456                   2                        0                        2
1457                   3                        0                        2
1458                   3                        1                        1
1459                   3                        0                        3
1460                   4                        0                        4
1461                   2                        2                        0
1462                   9                        9                        6
1463                   4                        1                        7
1464                   2                        0                        0
1465                   2                        0                        3
1466                   7                        1                        7
1467                   2                        0                        3
1468                   6                        0                        8
1469                   3                        1                        2

      TrainingTimesLastYear  PerformanceRating  Attrition
0                         0                  0          1
1                         3                  1          0
2                         3                  0          1
3                         3                  0          0
4                         3                  0          0
5                         2                  0          0
6                         3                  1          0
7                         2                  1          0
8                         2                  1          0
9                         3                  0          0
10                        5                  0          0
11                        3                  0          0
12                        1                  0          0
13                        2                  0          0
14                        4                  0          1
15                        1                  0          0
16                        5                  0          0
17                        2                  0          0
18                        3                  0          0
19                        3                  0          0
20                        5                  0          0
21                        4                  1          1
22                        4                  0          0
23                        6                  0          0
24                        2                  0          1
25                        3                  0          0
26                        5                  1          1
27                        2                  0          0
28                        4                  0          0
29                        2                  0          0
...                     ...                ...        ...
1440                      3                  0          0
1441                      2                  1          0
1442                      3                  0          1
1443                      2                  0          0
1444                      4                  0          1
1445                      3                  1          0
1446                      2                  1          0
1447                      4                  1          0
1448                      5                  0          0
1449                      4                  0          0
1450                      2                  0          0
1451                      1                  0          0
1452                      3                  0          1
1453                      2                  0          0
1454                      3                  0          0
1455                      2                  0          0
1456                      2                  0          0
1457                      2                  0          0
1458                      5                  0          0
1459                      2                  0          0
1460                      3                  0          0
1461                      3                  0          1
1462                      2                  0          0
1463                      2                  0          0
1464                      2                  0          0
1465                      3                  0          0
1466                      5                  0          0
1467                      0                  1          0
1468                      3                  0          0
1469                      3                  0          0

[1470 rows x 14 columns]

In [14]:
from sklearn.model_selection import train_test_split

training_data, testing_data = train_test_split(dataset, test_size=0.2, random_state=25)

In [15]:
print(f"No. of training examples: {training_data.shape[0]}")
print(f"No. of testing examples: {testing_data.shape[0]}")

No. of training examples: 1176
No. of testing examples: 294

In [16]:
from sklearn.preprocessing import StandardScaler 
standardScalerX = StandardScaler() 
dataset = standardScalerX.fit_transform(dataset)

In [17]:
dataset

array([[ 0.19510374, -0.77195619, -0.05778755, ..., -2.17198183,
        -0.42623002,  2.28090588],
       [-0.41511433,  1.03501132, -0.05778755, ...,  0.15570708,
         2.34615106, -0.4384223 ],
       [ 0.19510374,  1.03501132, -0.96148639, ...,  0.15570708,
        -0.42623002,  2.28090588],
       ...,
       [-1.0253324 ,  1.93849508, -0.05778755, ..., -2.17198183,
         2.34615106, -0.4384223 ],
       [-1.0253324 ,  1.03501132, -0.05778755, ...,  0.15570708,
        -0.42623002, -0.4384223 ],
       [-1.0253324 ,  1.93849508, -0.05778755, ...,  0.15570708,
        -0.42623002, -0.4384223 ]])